---
import { SITE } from 'astrowind:config';
---

<img alt="Logo" class="mr-2 h-12" src="https://i.imgur.com/fLJhyJj.png" />
<span
  class="self-center ml-1 rtl:ml-0 rtl:mr-1 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
